AuthType Basic   
AuthName "Private zone. Only for me" 
AuthUserFile  /var/www/audioBrowser/.htpasswd   
require valid-user

DirectoryIndex index.php
Options -Indexes

AddDefaultCharset utf-8

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule .* index.php
 
